body { 
  font-family: Arial, sans-serif; 
  padding: 40px; 
  border : 2px solid #000;
}

h1 { 
  margin-bottom: 30px; 
}

.section { 
  margin: 40px 0; 
  padding: 20px; 
  border: 1px solid #ccc; 
}

.broken-section {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; 
  padding: 20px; 
  border: 1px solid #ccc; 
  text-align: center;
}


